.wrapper {
    max-width: 750px;
    max-height: 420px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
    margin-right: 20px;
}


@media screen and (max-width:1192px) {
    .wrapper {
        margin-right: 0px;
    }
}

.container {
    width: 100%;
}

.wrapper div {
    max-width: 750px;
    max-height: 420px;
}

@media screen and (max-width:1200px) {
    .wrapper div {
        max-height: none;
        max-width: none;
    }

    .wrapper {
        max-width: none;
        max-height: none;
    }
}

.wrapper img {
    width: 100%;
}