.wrapper {
    margin-left:10%;
    margin-right:10%;
}

@media screen and (max-width:768px) {
    .wrapper {
        margin-left:5%;
        margin-right:5%;
    }
}

.heading {
    font-weight: bold;
    color: white;
    text-align: center;
}

.underhead {
    color: white;
    opacity: .5;
    font-size: 18px;
    text-align: center;
}

.col2 {
    min-width: 220px;
    min-height: 125px;
}