.wrapper {
    display: flex;
    margin:0 6%;
}

.btn {
    background-color: #fd5631;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0 30px 30px 30px;
    font-weight: bold;
    padding: 6px 12px;
    display: none;
}





@media screen and (max-width:1000px) {
    .wrapper {
        flex-direction: column;
        margin: 0;
        
    }

    .btn {
        display: block;
    }
}

@media screen and (min-width:2000px) {
    .wrapper {
        margin: auto;
        display: flex;
        justify-content: center;

    }

}