.aside {
    float: left;
    width: 450px;
    color: white;
    padding: 50px 25px;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.hidden {
    display: none;
}

@media screen and (max-width:1000px) {
    .aside {
        border: none;
        width: 100%;
        align-items: center;
        padding-top: 0;
        margin-bottom: 0px;
    }
}



.title {
    width: 60%;
    border-bottom: 3px solid gray;
    border-radius: 10px 0;
    margin-bottom: 20px;
}

.title h3 {
    font-weight: bold;
}

.aside select {
    background-color: rgb(40, 36, 53);
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(66, 63, 78);
}

.aside input {
    background-color: rgb(40, 36, 53);
    padding: 5px 10px;
    color: white;
    border: 1px solid rgb(66, 63, 78);
    border-radius: 10px;
}

.aside input::-webkit-outer-spin-button,
.aside input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-wrapper span {
    border: 1px solid gray;
    height: 1px;
    width: 20px;
}

.input-wrapper input {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.make-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.type-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.year-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.fuel-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.color-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.trans-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.radio-wrapper {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.radios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(66, 63, 78);
    border-radius: 10px;
}

.radio-wrapper p {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.first {
    border-right: 1px solid rgb(66, 63, 78);
}

.first p {
    border-left: 0 solid rgb(66, 63, 78);
    border-radius: 10px 0 0 10px;
}

.third {
    border-left: 1px solid rgb(66, 63, 78);
}

.third p {
    border-right: 0 solid rgb(66, 63, 78);
    border-radius: 0 10px 10px 0;
}

.radio-wrapper input {
    display: none;
}

.radio-wrapper input:checked+p {
    background-color: gray;
}

.submit {
    background-color: rgb(184, 125, 16);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid gray;
    height: 40px;
    width: 50%;
    margin-top: 20px;
    align-self: center;
}