.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    align-content: center;
}

.item {
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:790px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:530px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}